<div class="error-page">
    <div class="error-page-body">
        <h1 class="{{colorText _user_interface.style.color.fill}}">Error {{_user_interface.code}}</h1>
        <h3 class="{{colorText _user_interface.style.color.fill}}"><a class="btn-floating waves-effect waves-light {{_user_interface.style.color.fill}}"><i class="{{_user_interface.style.icon.class}} {{colorText _user_interface.style.color.text}}">{{_user_interface.style.icon.text}}</i></a>{{_user_interface.title}}</h3>
        <blockquote class="{{colorText _user_interface.style.color.fill}}" style="border-left: 5px solid {{_user_interface.style.color.fill}};">{{{urlify _user_interface.message}}}</blockquote>
    </div>
</div>