<header class="page-topbar" id="header" data-layout="structure/head">
    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible {{#ifEquals _cookies.SIDENAV.STATUS "expanded"}}sideNav-lock{{/ifEquals}} navbar-light">
            <div class="nav-wrapper">
                {{!-- Navbar list --}}
                <ul class="navbar-list">
                    {{!-- Search full --}}
                    <li class="header-search-wrapper hide-on-med-and-down">
                        <i class="material-icons">search</i>
                        <input id="search" class="header-search-input z-depth-2" type="text" name="Search" placeholder="Rechercher"
                            data-search="template-list" data-component="search">
                        <ul class="search-list collection display-none"></ul>
                    </li>
                    {{!-- Search small --}}
                    <li class="hide-on-large-only search-input-wrapper nav-button-circle">
                        <a class="waves-effect waves-block waves-light search-button"><i class="material-icons">search</i></a>
                    </li>
                    {{!-- Divider --}}
                    <li class="hide-on-med-and-down  divider"></li>
                    {{!-- Shotgun Wizz --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        <a class="waves-effect waves-block waves-light launch-sg-wizz" target="_blank" href="https://wizz.shotgunstudio.com/page/147829?layout=layout_3" data-tippy-content="<p style='text-align:center;margin:0;'>ShotGrid<br><small>Pub & Fiction</small></p>" style="padding: 0px;">
                            <img alt="RV Player" src="/media/ressources/shotgun_wizz/" />
                        </a>
                    </li>
                    {{!-- Shotgun Local --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        <a class="waves-effect waves-block waves-light launch-sg-local" target="_blank" href="https://shotgun-rlx.fixstudio.com/" data-tippy-content="<p style='text-align:center;margin:0;'>ShotGrid<br><small>Rolex</small></p>" style="background: #333333; padding: 5px">
                            <img alt="RV Player" src="/media/ressources/shotgun_local/" />
                        </a>
                    </li>
                    {{!-- Fix Play --}}
                    {{!-- #23 --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        <a class="waves-effect waves-block waves-light launch-fixplay {{!-- grey darken-1 --}}" target="_blank" {{!-- Issue #37 --}}href="http://fixplay.fixstudio.com/"{{!-- http://fixplaydev.quad.fr/ Issue #37 End --}} data-tippy-content="<p style='text-align:center;margin:0;'>Fix Play<br><small>Media manager de Fix Studio</small></p>" style="background: #333333; padding: 5px">
                            <i class="material-icons grey-text text-lighten-5">slideshow</i>
                        </a>
                    </li>
                    {{!-- Divider --}}
                    <li class="hide-on-med-and-down  divider"></li>
                    {{!-- Rocket Chat --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        <a class="waves-effect waves-block waves-light launch-rocketchat grey lighten-3" target="_blank" href="https://chat.fixstudio.com/" data-tippy-content="<p style='text-align:center;margin:0;'>Rocket.Chat<br><small>Le chat de Fix Studio</small></p>">
                            <img alt="Rocket Chat" src="/media/ressources/rocket_chat/" />
                        </a>
                    </li>
                    {{!-- GitLab --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        <a class="waves-effect waves-block waves-light launch-gitlab grey lighten-3" target="_blank" href="https://gitlab.fixstudio.com/" data-tippy-content="<p style='text-align:center;margin:0;'>GitLab<br><small>Département Dev<br>(Accessible sur place ou via NoMachine)</small></p>">
                            <i class="fa-brands fa-gitlab" style="color:#e24329;"></i>
                        </a>
                    </li>
                    {{!-- MovinMotion --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        <a class="waves-effect waves-block waves-light launch-movinmotion grey lighten-3" target="_blank" href="https://salarie.app.movinmotion.com/login" data-tippy-content="<p style='text-align:center;margin:0;'>Movinmotion<br><small>Plateforme pour les intermittents</small></p>">
                            <img alt="Movin Motion" class="padding-9" src="/media/ressources/movinmotion_salarie/" />
                        </a>
                    </li>
                    {{!-- Divider --}}
                    <li class="hide-on-med-and-down  divider"></li>
                    {{!-- RV Player --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        {{!-- https://knowledge.autodesk.com/support/shotgrid/learn-explore/caas/CloudHelp/cloudhelp/ENU/SG-RV/files/rv-knowledge-base/SG-RV-rv-knowledge-base-rv-link-urls-html-html.html --}}
                        <a class="waves-effect waves-block waves-light launch-rv" href="rvlink://" data-tippy-content="<p style='text-align:center;margin:0;'>RV Player<br><small>Meilleur lecteur vidéo</small></p>">
                            <img alt="RV Player" src="/media/ressources/rv_player/" />
                        </a>
                    </li>
                    {{!-- Hdri --}}
                    {{!-- #30 --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        <a class="waves-effect waves-block waves-light launch-hdr grey darken-1" target="_blank" {{!-- Issue #37 --}}href="" data-tippy-content="<p style='text-align:center;margin:0;'>Hdr Library<br><small>Librairie d'HDR</small></p>">
                            <i class="material-icons grey-text text-lighten-5" style="font-size: 35px;">hdr_on</i>
                        </a>
                    </li>
                    {{!-- Divider --}}
                    <li class="hide-on-med-and-down divider"></li>
                    {{!-- Dark mode --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        <a class="waves-effect waves-block waves-light toggle-theme-mode"
                            {{#if _cookies.THEME.MODE}}
                            {{#ifEquals _cookies.THEME.MODE "dark"}} data-tippy-content="Mode jour"><i class="material-icons">light_mode</i{{else}}
                            data-tippy-content="Mode nuit"><i class="material-icons">dark_mode</i{{/ifEquals}}
                            {{else}}
                            data-tippy-content="Mode nuit"><i class="material-icons">dark_mode</i
                            {{/if}}>
                        </a>
                    </li>
                    {{!-- Full screen --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        <a class="waves-effect waves-block waves-light toggle-fullscreen"><i class="material-icons">settings_overscan</i></a>
                    </li>
                    {{!-- Check navbar-list.add --}}
                    {{#each _user_interface.header.navbar-list.add}}
                        {{!-- Type --}}
                        <li class="hide-on-med-and-down {{this.type}}">
                            <a{{#each this.data}} data-{{@key}}="{{this}}"{{/each}} class="waves-effect waves-block waves-light {{this.action}}">
                                {{#if this.style.icon.class}}
                                <i class="{{this.style.icon.class}}">{{this.style.icon.text}}</i>
                                {{/if}}
                            </a>
                        </li>
                    {{/each}}

                </ul>
            </div>
            {{!-- Search bar for small screen --}}
            <nav class="display-none search-sm">
                <div class="nav-wrapper">
                    <form id="navbarForm">
                        <div class="input-field search-input-sm">
                            <input class="search-box-sm mb-0" type="search" required="" id="search" placeholder="Rechercher" data-search="template-list" data-component="search">
                            <label class="label-icon" for="search">
                                <i class="material-icons search-sm-icon">search</i>
                            </label>
                            <i class="material-icons search-sm-close">close</i>
                            <ul class="search-list collection search-list-sm display-none"></ul>
                        </div>
                    </form>
                </div>
            </nav>
        </nav>
    </div>
</header>
