<header>
  <ul id="sidenav-left" class="sidenav sidenav-fixed light-blue accent-1">
    <li><a href="?page=Accueil.md" class="logo-container">
      <img src="img/logo-black.png">
    </a></li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        {{#each navigation}}
          {{!-- Type folder --}}
          {{#ifEquals mimeType 'application/vnd.google-apps.folder'}}
          <li class="bold waves-effect">
            <a class="collapsible-header">
              {{name}}
              <i class="material-icons chevron">chevron_left</i>
            </a>
            {{#if children}}
            <div class="collapsible-body">
              <ul>
              {{#each children}}
                {{#ifEquals mimeType 'application/vnd.google-apps.folder'}}{{else}}
                <li>
                  <a href="?parent={{../name}}&page={{name}}" class="waves-effect">{{removeExt name 'md'}}<i class="material-icons">description</i></a>
                </li>
                {{/ifEquals}}
              {{/each}}
              </ul>
            </div>
            {{/if}}
          </li>
          {{/ifEquals}}
          {{!-- Type markdown --}}
          {{#ifEquals mimeType 'text/markdown'}}
          <li><a href="?page={{name}}" class="waves-effect">{{removeExt name 'md'}}<i class="material-icons">description</i></a></li>
          {{/ifEquals}}
        {{/each}}
      </ul>
    </li>
  </ul>
  <div id="dropdown1" class="dropdown-content notifications">
    <div class="notifications-title">notifications</div>
    <div class="card">
      <div class="card-content"><span class="card-title">Joe Smith made a purchase</span>
        <p>Content</p>
      </div>
      <div class="card-action"><a href="#!">view</a><a href="#!">dismiss</a></div>
    </div>
    <div class="card">
      <div class="card-content"><span class="card-title">Daily Traffic Update</span>
        <p>Content</p>
      </div>
      <div class="card-action"><a href="#!">view</a><a href="#!">dismiss</a></div>
    </div>
    <div class="card">
      <div class="card-content"><span class="card-title">New User Joined</span>
        <p>Content</p>
      </div>
      <div class="card-action"><a href="#!">view</a><a href="#!">dismiss</a></div>
    </div>
  </div>
  <div id="chat-dropdown" class="dropdown-content dropdown-tabbed">
    <ul class="tabs tabs-fixed-width">
      <li class="tab col s3"><a href="#settings">Settings</a></li>
      <li class="tab col s3"><a href="#friends" {{!-- class="active" --}}>Friends</a></li>
    </ul>
    <div id="settings" class="col s12">
      <div class="settings-group">
        <div class="setting">Night Mode
          <div class="switch right">
            <label>
              <input type="checkbox"><span class="lever"></span>
            </label>
          </div>
        </div>
        <div class="setting">Beta Testing
          <label class="right">
            <input type="checkbox"><span></span>
          </label>
        </div>
      </div>
    </div>
    <div id="friends" class="col s12">
      <ul class="collection flush">
        <li class="collection-item avatar">
          <div class="badged-circle online"><img src="img/portrait1.jpg" alt="avatar" class="circle"></div><span
            class="title">Jane Doe</span>
          <p class="truncate">Lo-fi you probably haven't heard of them</p>
        </li>
        <li class="collection-item avatar">
          <div class="badged-circle"><img src="img/portrait2.jpg" alt="avatar" class="circle"></div><span
            class="title">John Chang</span>
          <p class="truncate">etsy leggings raclette kickstarter four dollar toast</p>
        </li>
        <li class="collection-item avatar">
          <div class="badged-circle"><img src="img/portrait3.jpg" alt="avatar" class="circle"></div><span
            class="title">Lisa Simpson</span>
          <p class="truncate">Raw denim fingerstache food truck chia health goth synth</p>
        </li>
      </ul>
    </div>
  </div>
</header>