<div data-layout="popup/main/info">
{{!-- Iteration records --}}
{{#each records}}
    {{!-- Check children fields --}}
    {{#if this.relationships.fields}}
    <table class="layout-fixed">
        {{!-- Table Header --}}
        <thead>
            <tr>
                <th>Nom</th>
                <th>Valeur</th>
            </tr>
        </thead>
        {{!-- Body --}}
        <tbody>
        {{!-- Iteration children --}}
        {{#each this.relationships.fields}}
            <tr>
                <td><span class="small">{{this.attributes.value}}</span></td>
                <td>
                {{#if this.attributes.name.kind}}
                    <span class="copy-parent">
                        {{this.attributes.name.displayName}}
                        <a data-copy-label="Copier la valeur ?" class="copy-data copy-hover" data-copy-content="{{this.attributes.name.emailAddress}}"><i class="material-icons">content_copy</i></a>
                    </span>
                {{else}}
                    <span class="copy-parent">
                        {{this.attributes.name}}
                        <a data-copy-label="Copier l'email ?" class="copy-data copy-hover" data-copy-content="{{this.attributes.name}}"><i class="material-icons">content_copy</i></a>
                    </span>
                {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}
{{/each}}
</div>